$color-2-primary-50: 137 181 195;
$color-2-primary-100: 117 169 185;
$color-2-primary-200: 97 157 175;
$color-2-primary-300: 75 145 166;
$color-2-primary-400: 50 133 156;
$color-2-primary-500: 13 121 146;
$color-2-primary-600: 8 108 130;
$color-2-primary-700: 9 95 115;
$color-2-primary-800: 6 83 100;
$color-2-primary-900: 3 70 86;
$color-2-primary-950: 3 59 72;

$color-2-secondary-50: 157 202 225;
$color-2-secondary-100: 135 190 218;
$color-2-secondary-200: 111 178 211;
$color-2-secondary-300: 86 166 204;
$color-2-secondary-400: 56 154 196;
$color-2-secondary-500: 0 142 189;
$color-2-secondary-600: 1 129 171;
$color-2-secondary-700: 0 115 154;
$color-2-secondary-800: 1 102 137;
$color-2-secondary-900: 0 90 121;
$color-2-secondary-950: 0 78 105;
