$color-2-primary-50: 222 247 252;
$color-2-primary-100: 189 238 250;
$color-2-primary-200: 123 222 244;
$color-2-primary-300: 62 207 239;
$color-2-primary-400: 17 176 212;
$color-2-primary-500: 12 121 146;
$color-2-primary-600: 10 98 118;
$color-2-primary-700: 7 74 90;
$color-2-primary-800: 5 47 57;
$color-2-primary-900: 2 24 28;

$color-2-secondary-50: 224 247 255;
$color-2-secondary-100: 189 238 255;
$color-2-secondary-200: 128 223 255;
$color-2-secondary-300: 61 207 255;
$color-2-secondary-400: 0 191 255;
$color-2-secondary-500: 0 142 189;
$color-2-secondary-600: 0 115 153;
$color-2-secondary-700: 0 84 112;
$color-2-secondary-800: 0 57 77;
$color-2-secondary-900: 0 27 36;
