$color-2-primary-50: 41 69 152;
$color-2-primary-100: 46 76 167;
$color-2-primary-200: 51 83 181;
$color-2-primary-300: 55 91 196;
$color-2-primary-400: 60 98 211;
$color-2-primary-500: 65 105 225;
$color-2-primary-600: 73 113 227;
$color-2-primary-700: 82 121 230;
$color-2-primary-800: 91 129 231;
$color-2-primary-900: 99 136 233;
$color-2-primary-950: 108 144 236;

$color-2-primary-50: 95 0 115;
$color-2-primary-100: 107 0 130;
$color-2-primary-200: 120 0 145;
$color-2-primary-300: 132 0 160;
$color-2-primary-400: 145 0 175;
$color-2-primary-500: 157 0 189;
$color-2-primary-600: 162 34 193;
$color-2-primary-700: 167 52 196;
$color-2-primary-800: 172 66 200;
$color-2-primary-900: 177 78 203;
$color-2-primary-950: 182 89 207;
