name: Acceptance Gates
on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: read

concurrency: 
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  acceptance:
    name: Acceptance Tests
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node
        uses: ./.github/actions/setup

      - name: Setup environment
        uses: ./.github/actions/environment
        with:
          api-security-token: ${{ secrets.API_SECURITY_TOKEN }}
          api-endpoint: ${{ vars.API_ENDPOINT_TESTING }}
          configuration: ${{ vars.CONFIG }}

      - name: Create Cypress env
        run: |
          echo '{
            "E2E_TEST_PAYPAL_EMAIL": "${{ secrets.E2E_TEST_PAYPAL_EMAIL }}",
            "E2E_TEST_PAYPAL_PASSWORD": "${{ secrets.E2E_TEST_PAYPAL_PASSWORD }}"
          }' > apps/web/cypress.env.json

      - name: Build application
        run: npm run build

      - name: E2E Production
        uses: cypress-io/github-action@v6
        with:
          install: false
          command: npm run test:cypress
        env:
          NUXT_PUBLIC_CONFIG_ID: 1
          MOLLIE_TEST_MODE: true
      
      - name: E2E Editor
        uses: cypress-io/github-action@v6
        with:
          install: false
          command: npm run test:cypress-editor
        env:
          NUXT_PUBLIC_IS_PREVIEW: true
          NUXT_PUBLIC_CONFIG_ID: 1

      - name: E2E External
        uses: cypress-io/github-action@v6
        with:
          install: false
          command: npm run test:cypress-external
        env:
          NUXT_PUBLIC_CONFIG_ID: 1

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots
          path: apps/web/__tests__/report/screenshots
          if-no-files-found: ignore
