name: e2e-tests

on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: read
  packages: read

jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Enable corepack
        run: corepack enable

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '20.5'
          cache: 'yarn'
          registry-url: "https://npm.pkg.github.com"

      - name: Set yarn version
        run: |
          yarn set version stable
          yarn set version 3.6.4

      - name: Setup .yarnrc.yml
        run: |
            yarn config set nodeLinker node-modules
            yarn config set npmScopes.plentymarkets.npmRegistryServer "https://npm.pkg.github.com"
            yarn config set npmScopes.plentymarkets.npmAlwaysAuth true
            yarn config set npmScopes.plentymarkets.npmAuthToken $NODE_AUTH_TOKEN
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CYPRESS_BASE_URL: 'http://${{ env.ip_address }}:3000'
          PAYPAL_EMAIL: ${{ secrets.PAYPAL_EMAIL }}
          PAYPAL_PASSWORD: ${{ secrets.PAYPAL_PASSWORD }}

      - name: Setup middleware env
        run: |
            touch apps/server/.env
            echo API_ENDPOINT=https://mevofvd5omld.c01-14.plentymarkets.com >> apps/server/.env

      - name: Install Dependencies
        run: yarn --frozen-lockfile

      - uses: cypress-io/github-action@v5
        with:
          build: yarn build
          command: yarn test:cypress
          
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots
          path: apps/web/__tests__/report/screenshots
          if-no-files-found: ignore
