name: Linting (Lint)

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node and Yarn
        uses: ./.github/actions/setup
        with:
          npm-auth-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create .env file
        run: touch apps/web/.env

      - name: Install Dependencies
        run: yarn --frozen-lockfile

      - name: Run prettier
        run: yarn format

      - name: Run linter
        run: yarn lint
