name: Meta
on:
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  meta:
    if: github.repository == 'plentymarkets/plentyshop-pwa'
    runs-on: ubuntu-slim
    timeout-minutes: 5
    steps:
      - name: Validate PR title
        uses: amannn/action-semantic-pull-request@v6
        with:
          requireScope: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Label Pull Request
        uses: fuxingloh/multi-labeler@v4
      - name: Assign author to PR
        if: github.event.action == 'opened'
        uses: toshimaru/auto-author-assign@v3.0.1
