name: tests

on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: read
  packages: read

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Node and Yarn
        uses: ./.github/actions/setup
        with:
          npm-auth-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set environment
        run: |
          touch apps/web/.env
          cat <<EOT >> apps/web/.env
          API_SECURITY_TOKEN=${{ secrets.API_SECURITY_TOKEN }}
          API_ENDPOINT=https://mevofvd5omld.c01-14.plentymarkets.com
          DEFAULT_FEEDBACK_ITEMS_PER_PAGE=1
          ${{ vars.CONFIG }}
          EOT

      - name: Install Dependencies
        run: yarn --immutable

      - name: Unit tests
        run: |
          pushd ${{ github.workspace }}/apps/server/
          yarn start &
          pushd ${{ github.workspace }}/apps/web/
          yarn test:coverage
          pushd -0 && dirs -c

      - name: E2E tests
        uses: cypress-io/github-action@v5
        with:
          build: yarn build
          install: false
          command: yarn test:cypress
        env:
          PAYPAL_EMAIL: ${{ secrets.PAYPAL_EMAIL }}
          PAYPAL_PASSWORD: ${{ secrets.PAYPAL_PASSWORD }}
          CYPRESS_DEFAULT_FEEDBACK_ITEMS_PER_PAGE: 1

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots
          path: apps/web/__tests__/report/screenshots
          if-no-files-found: ignore
